body {
    font-family: "Josefin Sans", sans-serif;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.weather-app {
    padding: 40px;
    margin: 20px auto;
    border-radius: 20px;
    max-width: 600px;
    background: linear-gradient(225deg,
            rgba(101, 227, 241, 0.509) 10%,
            rgb(0, 172, 245) 100%);
    color: white;
}

.dark-mode {
    background: linear-gradient(225deg,
            rgba(102, 167, 202, 0.71) 10%,
            rgb(1, 45, 112) 100%);
}

.search-form {
    margin-bottom: 20px;
    color: black;
}

.submit {
    padding: 6px 15px;

    background-color: white;
    border-radius: 60px;
    border-color: none;
    transition: all 150ms ease-in-out;
}

.submit:hover {
    background-color: rgb(230, 230, 230);
}

.now-button {
    padding: 7px 15px;

    background-color: rgb(0, 172, 245);
    border-radius: 60px;
    border-color: none;
}

.now-button-dark-mode {
    background-color: rgb(1, 45, 112);
}

.city {
    margin-top: 25px;
    font-weight: 900;
    font-size: 60px;
}

.sub-heading {
    margin-top: -10px;
    opacity: 0.8;
    text-transform: capitalize;
}

.weather-icon {
    display: block;
    margin: 20px auto;
    width: 130px;
    max-width: 100%;
}

.current-temp {
    margin-top: -25px;
    margin-bottom: 10px;
    font-size: 90px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.unit {
    vertical-align: 175%;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-weight: bold;
}

.current-conditions {
    list-style: none;
    padding: 0;
    margin: 0;
}

.future-forecast {
    text-align: center;
    margin-top: 10px;
}

.day-forecast {
    margin: auto 8px;
    font-size: 18px;
    font-weight: 800;
}

@media (max-width: 450px) {
    footer {
        margin-top: -10px;
        font-size: 12px;
    }

    .weather-app {
        padding: 25px;
    }

    .search-form {
        margin: 0 0 10px 0;
        color: black;
    }

    .submit {
        margin: 0;
        padding: 4px;
    }

    .now-button {
        margin: 0;
        padding: 5px 6px;
    }

    .city {
        margin-top: 15px;
        font-size: 50px;
    }

    .sub-heading {
        opacity: 0.8;
        text-transform: capitalize;
        font-size: 10px;
    }

    .weather-icon {
        display: block;
        margin: 50px auto 0;
    }

    .current-temp {
        font-size: 80px;
        margin-top: -60px;
        padding-left: 30px;
    }

    .unit {
        vertical-align: 150%;
        margin-left: -10px;
        font-size: 16px;
    }

    .current-conditions {
        list-style: none;
        padding: 0;
        margin: -10px 0 0 0;
        font-size: 12px;
    }

    .future-forecast {
        margin-top: -15;
    }

    .min-max {
        font-size: 12px;
    }
}

@media (max-width: 280px) {
    .city {
        font-size: 45px;
    }

    .current-temp {
        margin-top: -30px;
        padding-left: 10px;
        font-size: 70px;
    }

    .current-conditions {
        font-size: 12px;
        margin-left: -15px;
        margin-top: -2px;
    }

    .future-forecast {
        margin-top: -10px;
    }
}
